.btn{
	display: inline-block;	
}
.btn-light{
	background: #e4e4e4;
	border: none !important;
	color: black;
}

.btn-green{
	background: #19998e;
	border: none !important;
	color: white;
	font-weight: 400;
	font-size: 16px;
	padding: 5px 20px;	
}

.btn-cream{
	background: #d6cdb0;
	border: none !important;
	color: black;	
}

.btn-nobg{
	background: none;
	border: 1px solid white !important;
	color: white;
}