#wrapper footer{
	background: #444444;
	padding: 20px;
	margin-top: 60px;

	p{
		margin: 0;
	}
	.copyright{
		font-size: 14px;
		color: white;
		line-height: 30px;
		font-weight: lighter;
	}

	.social{
		text-align: right;
		font-size: 14px;
		color: white;
		line-height: 30px;
		font-weight: lighter;
		a{
			display: inline-block;
			margin: 0 20px;

			&:last-child{
				margin-right: 0; 
			}

			i{
				font-size: 25px;
				color: white;
			}
		}
	}
}