#wrapper header{
	.header-bg{
		background: #444444;
		margin-bottom: 10px;
	}
	
	.user-btns{		
		text-transform: capitalize;
		text-align: right;
		padding: 12px 15px;

		a{
			border: 1px solid black;
		}
	}

	.header-cols{
		.header-row {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display:         flex;
			flex-wrap: wrap;
		}
		.header-row > [class*='header-col'] {
			display: flex;
			flex-direction: column;
		}
	}

	.logo{
		display: block;

		img{
			width: 100%;
		}
	}

	.inner{
		position: relative;
		
		.search-box{
			
			input[type="text"]{
				display: inline-block;
				width: 80%;
			}

			button{
				background: #444444;
				border: 0;

				i{
					color: white;
				}
			}
		}

		.main-nav{
			margin-top: 6%;

			.navbar-nav{
				width: 100%;
			}
			.navbar{
				margin: 0;
				padding: 0;
				min-height: auto;

				.container-fluid{
					padding: 0;
				}
				li{
					padding: 0 2% 0 0;

					a{
						background: none;
						display: inline-block;
						margin: 0;
						padding: 0 0 2px;
						font-size: 17px;
						line-height: 17px;				
						text-transform: uppercase;
						color: #515151;
						border-bottom: 1px solid rgba(81, 81, 81, 0);

						&.active, &:hover{
							border-bottom: 1px solid rgba(81, 81, 81, 1);
						}
					}	
				}
				
			}
		}
	}

}