@media (max-width: 1200px) {
    .form-control{
    	display: inline-block;
    	width: 90%;
    }
    .navbar-toggle{
    	font-size: 30px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
        margin: 10px 0;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media (max-width: 991px) { 
	#wrapper{
		footer{
			text-align: center;

			.social{
				text-align: center;
				margin-top: 30px;
			}
		}
	}
}
@media (max-width: 768px) { 
	#wrapper{
		footer{
			text-align: center;

			.social{
				text-align: center;
				margin-top: 30px;
			}
		}
	}
	#toggable-sidebar.mobile-navigation{
		
		.hide-menu{
			left: 60%;
			
		}

	}
}
