.section-title{
	p{
		font-size: 32px !important;
		color: #515151;
		font-weight: lighter;
	}

	span{
		font-size: 16px;
		magin-top: 30px;
	}
}

#carousel{
	margin-top: 80px;
}

#touch-slider{
	margin-top: 40px;
}

#show-products-grid{
	.grid-item{
		margin-top: 30px;
		
		a{
			display: block;
			-webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;

			img{
				width: 100%;
				border: 1px solid #eeeeee;
			}

			.product-name, .product-brand{
				font-size: 16px;
				color: #515151;
				font-weight: lighter;
				line-height: 18px;
				margin: 5px 0;
			}

			.product-brand{
				font-weight: bold;
			}

			&:hover{
				text-decoration: none;
				opacity: .7;
				
				img{
					border: 1px solid black;
				}
			}
		}
	}
}

#fullwidth-content{
	margin: 80px 0;

	.section-title{
		p{
			font-size: 32px !important;
			color: #515151;
			font-weight: lighter;
			margin: 0;
		}
	}
	
	iframe{
		margin: 20px 0;
	}
	
	#carousel{
		margin: 20px 0;
	
		img{
			margin: 0;
		}
	}

	img{
		width: 100%;
		margin: 20px 0;
	}

	p{
		font-size: 16px;
		font-weight: lighter;
		margin-top: 10px;

		span{
			font-weight: normal;
		}
	}

	.btn{
		margin-top: 20px;
		font-size: 16px;
		padding: 10px 20px;
	}
}

#fullwidth-text{
	margin: 20px 0;

	p{
		font-size: 16px;
	}
}

#twocol-form{
	margin: 80px 0;

	.section-title{
		margin-bottom: 30px;
	}
	
	p.form-section{
		margin: 30px 0 0;
		font-size: 21px;
		font-weight: bold;
	}

	form{

		.form-group{
			label{
				font-size: 18px;
				line-height: 18px;
				font-weight: 400;
				color: #515151;
				margin: 20px 0;
			}
		}
	}
}

#fullwidth-product-show{
	margin: 80px 0;

 	.fulwidth-product-main-img{
 		a{
			display: block;
			-webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;

			img{
				width: 100%;
			}

			&:hover{
				opacity: .7;
			}
		}
	}

	.fullwidth-product-gallery{
		a{
			display: block;
			margin: 0 0 10px;
			-webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;

			img{
				width: 100%;
			}

			&:hover{
				opacity: .7;
			}
		}
	}

	.fullwidth-product-info{
		h5{
			font-size: 16px;
			font-weight: bold;
			line-height: 16px;
			margin-bottom: 10px;
			padding-bottom: 15px;
			color: #515151;
			border-bottom: 1px solid #e4e4e4;
			display: block;
		}
		
		a{
			display: block;
			img{
				margin-bottom: 10px;
			}
		}

		p.fullwidth-product-detail{
			font-size: 14px;
			font-weight: lighter;
			font-style: italic;
			color: #515151;
		}
	}
}

#fullwidth-product-preferences-cloth{
	margin-bottom: 80px;
	overflow: hidden;

	form{

		.form-group{
			margin: 20px 0;
		}

		input[type="checkbox"]{
			width: 30px; /*Desired width*/
			height: 30px; /*Desired height*/
			cursor: pointer;
			-webkit-appearance: none;
			appearance: none;
			border: 1px solid #ccc;
			border-radius: 4px;
			outline: none;
			
			&:checked{
				background: #286090;
			}
		}

		label{
			color: #515151;
			margin: 20px 0;
			font-size: 16px;
			font-weight: bold;
			width: 100%;
		}
		p{
			display: inline-block;
			color: #515151;
			font-size: 20px;
			font-weight: 400;
		}

		small{
			display: inline-block;
			color: #515151;
		}
	}
}

#fullwidth-product-preferences-tools{
	margin-bottom: 80px;
	overflow: hidden;

	form{
		.labels{
			min-height: 40px;

			label{
				color: #515151;
				margin: 0;
				font-size: 16px;
				line-height: 18px;
				font-weight: bold;
			}
		}

		.tools-item{
			label, p{
				line-height: 40px;
			}

			p{
				display: inline-block;
				color: #515151;
				font-size: 16px;
				font-weight: 400;

				&.unit{
					font-size: 20px;
				}
			}

			small{
				display: inline-block;
				color: #515151;
			}
		}
	}
}

#fullwidth-products-cart{
	margin: 80px 0;

	.cart-item{
		padding: 20px 15px;
		border-bottom: 1px solid #e4e4e4;

		.inline-content{
			width: 100%;
			display: block;
			overflow: hidden;
			padding: 2px 0;

			.inline-container{
				float: left;
				width: auto;
				margin-right: 15px;
			}
		}
		h4{
			display: block;
			font-size: 20px;
			font-weight: 400;
			color: #515151;
			margin: 0 0 15px 0;
		}
		span.product-price{
			display: block;
			font-size: 18px;
			font-weight: bold;
			color: #19998e;
			margin: 0 0 15px 0;
		}
		p.controls{
			display: block;
			font-size: 16px;
			font-style: italic;
			font-weight: lighter;
			color: #515151;
			line-height: 25px;
			margin: 0 0 15px 0;

			span.quantity{
				font-weight: bold;
				font-style: normal;
				color: #19998e;
				border-radius: 3px;
				border: 1px solid #bfbfbf;
				background: white;
				padding: 3px 5px;
				font-size: 14px;
				margin: 0;
			}

			a{
				color: #19998e;

				i{
					opacity: 0;
					color: red;
					font-size: 16px;
					-webkit-transition: all 0.25s ease-in-out;
					-moz-transition: all 0.25s ease-in-out;
					-ms-transition: all 0.25s ease-in-out;
					-o-transition: all 0.25s ease-in-out;
					transition: all 0.25s ease-in-out;
				}

				&:hover{
					i{
						opacity: 1;
					}
				}
			}
		}

		p.size, p.color{
			display: block;
			font-size: 16px;
			font-style: italic;
			font-weight: lighter;
			color: #515151;
			line-height: 18px;
			margin: 0 0 15px 0;
		}
		p.color{
			span.selected-color{
				display: inline-block;
				width: 18px;
				height: 18px;
				border-radius: 4px;
				background: red;
			}
		}
		p.total-price{
			font-size: 22px;
			font-weight: bold;
			color: black;
			line-height: 25px;
		}
	}
}

#wrapper.home .readable{
	margin: 80px 0;

	h4{
		font-size: 21px;
		font-weight: lighter;
		color: black;
	}

	p{
		font-size: 18px;
		font-style: italic;

		strong{
			color: #d6cdb0;
		}
	}
}