.show-menu{
	cursor: pointer;
	color: white;
	font-size: 25px;
	z-index: 9999;
	position: relative;
	margin: 0;
	padding: 12px 15px;
}

#toggable-sidebar.mobile-navigation{
	position: fixed;
	top: 0;
	z-index: 9998;
	padding: 0;
	margin: 0;
	left: 0;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

	&.scrol{
		height: 100%;
		overflow-y: auto;
	}

	&.oculto{
		left: -100%;
	}

	.hide-menu{
		position: fixed;
		z-index: 9999;
		top: 5px;
		left: 38%;
		font-size: 20px;
		cursor: pointer;
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-ms-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;

		&:hover{
			color: red;
		}
	}

	.products-nav{
		margin: 0 !important;		
		border-bottom: 1px solid #444444;
	}

	#my-resume .my-resume-inner{
		margin: 0 !important;
		padding: 20px;	
	}
}

#wrapper .sidebar{
	.products-nav{
		margin-top: 30px;
		padding: 25px;
		background: #e4e4e4;

		p{
			font-size: 18px;
			text-transform: uppercase;
			color: #515151;
			font-weight: bold;
		}

		ul{
			padding: 0;
			list-style: none;

			&.category{
				li{
					margin-bottom: 10px;

					a, span{
						font-size: 16px;
						color: black;
						font-style: italic;
						font-weight: 400;
						cursor: pointer;

						&.active, &:hover{
							font-weight: 600;
							text-decoration: none;
						}
					}

					.subcategory{
						padding-left: 15px;

						li{
							margin-bottom: 2px;

							a{
								font-weight: 400;
								
								&.active, &:hover{
									font-weight: 600;
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}
	}
}

#my-resume{
	.my-resume-inner{
		margin: 15px 0;
		background: #f6f6f3;
		padding: 20px;

		h5{
			font-size: 16px;
			font-weight: bold;
			line-height: 16px;
			margin: 0 0 20px;
			color: black;
		}

		ul{
			list-style: none;
			padding: 0;

			li{
				width: 100%;
				padding: 10px 0;
				border-bottom: 1px solid #bfbfbf;
				margin-bottom: 20px;
				
				a{
					display: inline-block;

					i{
						color: #19998e;
						font-size: 18px;
						-webkit-transition: all 0.25s ease-in-out;
						-moz-transition: all 0.25s ease-in-out;
						-ms-transition: all 0.25s ease-in-out;
						-o-transition: all 0.25s ease-in-out;
						transition: all 0.25s ease-in-out;
					}

					&:hover{
						i{
							color: red;
						}						
					}
				}

				span{
					font-size: 16px;
					line-height: 18px;
					color: #5b5b5b;
					display: inline-block;
					margin-left: 10px;
					font-style: italic;

					&.quantity{
						font-weight: bold;
						font-style: normal;
						color: #19998e;
						border-radius: 3px;
						border: 1px solid #bfbfbf;
						background: white;
						padding: 3px 5px;
						font-size: 14px;
						margin: 0;
					}
				}
			}
		}

		.total{
			p{
				font-size: 16px;
				font-weight: bold;
				line-height: 16px;
				color: #19998e;
			}
		}
	}
}

#my-resume-confirm{
	.my-resume-inner{
		margin: 15px 0;
		background: #f6f6f3;
		padding: 20px;

		ul{
			list-style: none;
			padding: 0;

			li{
				p{
					font-size: 14px;
					font-weight: 400;
					font-style: italic;
					color: #5b5b5b;
				}
			}
		}

		.total{
			h5{
				font-size: 18px;
				font-weight: bold;
				color: black;
				margin: 0;
			}

			p{
				font-size: 18px;
				font-weight: bold;
				line-height: 16px;
				color: #19998e;
			}

			.btn{
				margin: 20px 0 0;
			}
		}
	}
}