@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic);
body {
  font-family: 'Open Sans', sans-serif; }

.btn {
  display: inline-block; }

.btn-light {
  background: #e4e4e4;
  border: none !important;
  color: black; }

.btn-green {
  background: #19998e;
  border: none !important;
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 5px 20px; }

.btn-cream {
  background: #d6cdb0;
  border: none !important;
  color: black; }

.btn-nobg {
  background: none;
  border: 1px solid white !important;
  color: white; }

#wrapper header .header-bg {
  background: #444444;
  margin-bottom: 10px; }
#wrapper header .user-btns {
  text-transform: capitalize;
  text-align: right;
  padding: 12px 15px; }
  #wrapper header .user-btns a {
    border: 1px solid black; }
#wrapper header .header-cols .header-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }
#wrapper header .header-cols .header-row > [class*='header-col'] {
  display: flex;
  flex-direction: column; }
#wrapper header .logo {
  display: block; }
  #wrapper header .logo img {
    width: 100%; }
#wrapper header .inner {
  position: relative; }
  #wrapper header .inner .search-box input[type="text"] {
    display: inline-block;
    width: 80%; }
  #wrapper header .inner .search-box button {
    background: #444444;
    border: 0; }
    #wrapper header .inner .search-box button i {
      color: white; }
  #wrapper header .inner .main-nav {
    margin-top: 6%; }
    #wrapper header .inner .main-nav .navbar-nav {
      width: 100%; }
    #wrapper header .inner .main-nav .navbar {
      margin: 0;
      padding: 0;
      min-height: auto; }
      #wrapper header .inner .main-nav .navbar .container-fluid {
        padding: 0; }
      #wrapper header .inner .main-nav .navbar li {
        padding: 0 2% 0 0; }
        #wrapper header .inner .main-nav .navbar li a {
          background: none;
          display: inline-block;
          margin: 0;
          padding: 0 0 2px;
          font-size: 17px;
          line-height: 17px;
          text-transform: uppercase;
          color: #515151;
          border-bottom: 1px solid rgba(81, 81, 81, 0); }
          #wrapper header .inner .main-nav .navbar li a.active, #wrapper header .inner .main-nav .navbar li a:hover {
            border-bottom: 1px solid #515151; }

#wrapper footer {
  background: #444444;
  padding: 20px;
  margin-top: 60px; }
  #wrapper footer p {
    margin: 0; }
  #wrapper footer .copyright {
    font-size: 14px;
    color: white;
    line-height: 30px;
    font-weight: lighter; }
  #wrapper footer .social {
    text-align: right;
    font-size: 14px;
    color: white;
    line-height: 30px;
    font-weight: lighter; }
    #wrapper footer .social a {
      display: inline-block;
      margin: 0 20px; }
      #wrapper footer .social a:last-child {
        margin-right: 0; }
      #wrapper footer .social a i {
        font-size: 25px;
        color: white; }

.show-menu {
  cursor: pointer;
  color: white;
  font-size: 25px;
  z-index: 9999;
  position: relative;
  margin: 0;
  padding: 12px 15px; }

#toggable-sidebar.mobile-navigation {
  position: fixed;
  top: 0;
  z-index: 9998;
  padding: 0;
  margin: 0;
  left: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  #toggable-sidebar.mobile-navigation.scrol {
    height: 100%;
    overflow-y: auto; }
  #toggable-sidebar.mobile-navigation.oculto {
    left: -100%; }
  #toggable-sidebar.mobile-navigation .hide-menu {
    position: fixed;
    z-index: 9999;
    top: 5px;
    left: 38%;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    #toggable-sidebar.mobile-navigation .hide-menu:hover {
      color: red; }
  #toggable-sidebar.mobile-navigation .products-nav {
    margin: 0 !important;
    border-bottom: 1px solid #444444; }
  #toggable-sidebar.mobile-navigation #my-resume .my-resume-inner {
    margin: 0 !important;
    padding: 20px; }

#wrapper .sidebar .products-nav {
  margin-top: 30px;
  padding: 25px;
  background: #e4e4e4; }
  #wrapper .sidebar .products-nav p {
    font-size: 18px;
    text-transform: uppercase;
    color: #515151;
    font-weight: bold; }
  #wrapper .sidebar .products-nav ul {
    padding: 0;
    list-style: none; }
    #wrapper .sidebar .products-nav ul.category li {
      margin-bottom: 10px; }
      #wrapper .sidebar .products-nav ul.category li a, #wrapper .sidebar .products-nav ul.category li span {
        font-size: 16px;
        color: black;
        font-style: italic;
        font-weight: 400;
        cursor: pointer; }
        #wrapper .sidebar .products-nav ul.category li a.active, #wrapper .sidebar .products-nav ul.category li a:hover, #wrapper .sidebar .products-nav ul.category li span.active, #wrapper .sidebar .products-nav ul.category li span:hover {
          font-weight: 600;
          text-decoration: none; }
      #wrapper .sidebar .products-nav ul.category li .subcategory {
        padding-left: 15px; }
        #wrapper .sidebar .products-nav ul.category li .subcategory li {
          margin-bottom: 2px; }
          #wrapper .sidebar .products-nav ul.category li .subcategory li a {
            font-weight: 400; }
            #wrapper .sidebar .products-nav ul.category li .subcategory li a.active, #wrapper .sidebar .products-nav ul.category li .subcategory li a:hover {
              font-weight: 600;
              text-decoration: none; }

#my-resume .my-resume-inner {
  margin: 15px 0;
  background: #f6f6f3;
  padding: 20px; }
  #my-resume .my-resume-inner h5 {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin: 0 0 20px;
    color: black; }
  #my-resume .my-resume-inner ul {
    list-style: none;
    padding: 0; }
    #my-resume .my-resume-inner ul li {
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid #bfbfbf;
      margin-bottom: 20px; }
      #my-resume .my-resume-inner ul li a {
        display: inline-block; }
        #my-resume .my-resume-inner ul li a i {
          color: #19998e;
          font-size: 18px;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -ms-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out; }
        #my-resume .my-resume-inner ul li a:hover i {
          color: red; }
      #my-resume .my-resume-inner ul li span {
        font-size: 16px;
        line-height: 18px;
        color: #5b5b5b;
        display: inline-block;
        margin-left: 10px;
        font-style: italic; }
        #my-resume .my-resume-inner ul li span.quantity {
          font-weight: bold;
          font-style: normal;
          color: #19998e;
          border-radius: 3px;
          border: 1px solid #bfbfbf;
          background: white;
          padding: 3px 5px;
          font-size: 14px;
          margin: 0; }
  #my-resume .my-resume-inner .total p {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    color: #19998e; }

#my-resume-confirm .my-resume-inner {
  margin: 15px 0;
  background: #f6f6f3;
  padding: 20px; }
  #my-resume-confirm .my-resume-inner ul {
    list-style: none;
    padding: 0; }
    #my-resume-confirm .my-resume-inner ul li p {
      font-size: 14px;
      font-weight: 400;
      font-style: italic;
      color: #5b5b5b; }
  #my-resume-confirm .my-resume-inner .total h5 {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 0; }
  #my-resume-confirm .my-resume-inner .total p {
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
    color: #19998e; }
  #my-resume-confirm .my-resume-inner .total .btn {
    margin: 20px 0 0; }

.section-title p {
  font-size: 32px !important;
  color: #515151;
  font-weight: lighter; }
.section-title span {
  font-size: 16px;
  magin-top: 30px; }

#carousel {
  margin-top: 80px; }

#touch-slider {
  margin-top: 40px; }

#show-products-grid .grid-item {
  margin-top: 30px; }
  #show-products-grid .grid-item a {
    display: block;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    #show-products-grid .grid-item a img {
      width: 100%;
      border: 1px solid #eeeeee; }
    #show-products-grid .grid-item a .product-name, #show-products-grid .grid-item a .product-brand {
      font-size: 16px;
      color: #515151;
      font-weight: lighter;
      line-height: 18px;
      margin: 5px 0; }
    #show-products-grid .grid-item a .product-brand {
      font-weight: bold; }
    #show-products-grid .grid-item a:hover {
      text-decoration: none;
      opacity: .7; }
      #show-products-grid .grid-item a:hover img {
        border: 1px solid black; }

#fullwidth-content {
  margin: 80px 0; }
  #fullwidth-content .section-title p {
    font-size: 32px !important;
    color: #515151;
    font-weight: lighter;
    margin: 0; }
  #fullwidth-content iframe {
    margin: 20px 0; }
  #fullwidth-content #carousel {
    margin: 20px 0; }
    #fullwidth-content #carousel img {
      margin: 0; }
  #fullwidth-content img {
    width: 100%;
    margin: 20px 0; }
  #fullwidth-content p {
    font-size: 16px;
    font-weight: lighter;
    margin-top: 10px; }
    #fullwidth-content p span {
      font-weight: normal; }
  #fullwidth-content .btn {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 20px; }

#fullwidth-text {
  margin: 20px 0; }
  #fullwidth-text p {
    font-size: 16px; }

#twocol-form {
  margin: 80px 0; }
  #twocol-form .section-title {
    margin-bottom: 30px; }
  #twocol-form p.form-section {
    margin: 30px 0 0;
    font-size: 21px;
    font-weight: bold; }
  #twocol-form form .form-group label {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #515151;
    margin: 20px 0; }

#fullwidth-product-show {
  margin: 80px 0; }
  #fullwidth-product-show .fulwidth-product-main-img a {
    display: block;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    #fullwidth-product-show .fulwidth-product-main-img a img {
      width: 100%; }
    #fullwidth-product-show .fulwidth-product-main-img a:hover {
      opacity: .7; }
  #fullwidth-product-show .fullwidth-product-gallery a {
    display: block;
    margin: 0 0 10px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    #fullwidth-product-show .fullwidth-product-gallery a img {
      width: 100%; }
    #fullwidth-product-show .fullwidth-product-gallery a:hover {
      opacity: .7; }
  #fullwidth-product-show .fullwidth-product-info h5 {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    color: #515151;
    border-bottom: 1px solid #e4e4e4;
    display: block; }
  #fullwidth-product-show .fullwidth-product-info a {
    display: block; }
    #fullwidth-product-show .fullwidth-product-info a img {
      margin-bottom: 10px; }
  #fullwidth-product-show .fullwidth-product-info p.fullwidth-product-detail {
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
    color: #515151; }

#fullwidth-product-preferences-cloth {
  margin-bottom: 80px;
  overflow: hidden; }
  #fullwidth-product-preferences-cloth form .form-group {
    margin: 20px 0; }
  #fullwidth-product-preferences-cloth form input[type="checkbox"] {
    width: 30px;
    /*Desired width*/
    height: 30px;
    /*Desired height*/
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none; }
    #fullwidth-product-preferences-cloth form input[type="checkbox"]:checked {
      background: #286090; }
  #fullwidth-product-preferences-cloth form label {
    color: #515151;
    margin: 20px 0;
    font-size: 16px;
    font-weight: bold;
    width: 100%; }
  #fullwidth-product-preferences-cloth form p {
    display: inline-block;
    color: #515151;
    font-size: 20px;
    font-weight: 400; }
  #fullwidth-product-preferences-cloth form small {
    display: inline-block;
    color: #515151; }

#fullwidth-product-preferences-tools {
  margin-bottom: 80px;
  overflow: hidden; }
  #fullwidth-product-preferences-tools form .labels {
    min-height: 40px; }
    #fullwidth-product-preferences-tools form .labels label {
      color: #515151;
      margin: 0;
      font-size: 16px;
      line-height: 18px;
      font-weight: bold; }
  #fullwidth-product-preferences-tools form .tools-item label, #fullwidth-product-preferences-tools form .tools-item p {
    line-height: 40px; }
  #fullwidth-product-preferences-tools form .tools-item p {
    display: inline-block;
    color: #515151;
    font-size: 16px;
    font-weight: 400; }
    #fullwidth-product-preferences-tools form .tools-item p.unit {
      font-size: 20px; }
  #fullwidth-product-preferences-tools form .tools-item small {
    display: inline-block;
    color: #515151; }

#fullwidth-products-cart {
  margin: 80px 0; }
  #fullwidth-products-cart .cart-item {
    padding: 20px 15px;
    border-bottom: 1px solid #e4e4e4; }
    #fullwidth-products-cart .cart-item .inline-content {
      width: 100%;
      display: block;
      overflow: hidden;
      padding: 2px 0; }
      #fullwidth-products-cart .cart-item .inline-content .inline-container {
        float: left;
        width: auto;
        margin-right: 15px; }
    #fullwidth-products-cart .cart-item h4 {
      display: block;
      font-size: 20px;
      font-weight: 400;
      color: #515151;
      margin: 0 0 15px 0; }
    #fullwidth-products-cart .cart-item span.product-price {
      display: block;
      font-size: 18px;
      font-weight: bold;
      color: #19998e;
      margin: 0 0 15px 0; }
    #fullwidth-products-cart .cart-item p.controls {
      display: block;
      font-size: 16px;
      font-style: italic;
      font-weight: lighter;
      color: #515151;
      line-height: 25px;
      margin: 0 0 15px 0; }
      #fullwidth-products-cart .cart-item p.controls span.quantity {
        font-weight: bold;
        font-style: normal;
        color: #19998e;
        border-radius: 3px;
        border: 1px solid #bfbfbf;
        background: white;
        padding: 3px 5px;
        font-size: 14px;
        margin: 0; }
      #fullwidth-products-cart .cart-item p.controls a {
        color: #19998e; }
        #fullwidth-products-cart .cart-item p.controls a i {
          opacity: 0;
          color: red;
          font-size: 16px;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -ms-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out; }
        #fullwidth-products-cart .cart-item p.controls a:hover i {
          opacity: 1; }
    #fullwidth-products-cart .cart-item p.size, #fullwidth-products-cart .cart-item p.color {
      display: block;
      font-size: 16px;
      font-style: italic;
      font-weight: lighter;
      color: #515151;
      line-height: 18px;
      margin: 0 0 15px 0; }
    #fullwidth-products-cart .cart-item p.color span.selected-color {
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      background: red; }
    #fullwidth-products-cart .cart-item p.total-price {
      font-size: 22px;
      font-weight: bold;
      color: black;
      line-height: 25px; }

#wrapper.home .readable {
  margin: 80px 0; }
  #wrapper.home .readable h4 {
    font-size: 21px;
    font-weight: lighter;
    color: black; }
  #wrapper.home .readable p {
    font-size: 18px;
    font-style: italic; }
    #wrapper.home .readable p strong {
      color: #d6cdb0; }

@media (max-width: 1200px) {
  .form-control {
    display: inline-block;
    width: 90%; }

  .navbar-toggle {
    font-size: 30px; }

  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }

  .navbar-nav > li {
    float: none;
    margin: 10px 0; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-text {
    float: none;
    margin: 15px 0; }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important; }

  .collapsing {
    overflow: hidden !important; } }
@media (max-width: 991px) {
  #wrapper footer {
    text-align: center; }
    #wrapper footer .social {
      text-align: center;
      margin-top: 30px; } }
@media (max-width: 768px) {
  #wrapper footer {
    text-align: center; }
    #wrapper footer .social {
      text-align: center;
      margin-top: 30px; }

  #toggable-sidebar.mobile-navigation .hide-menu {
    left: 60%; } }

/*# sourceMappingURL=styles.css.map */
